## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## RubyMine
.idea

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg
reports
chromedriver.log
.ruby-gemset

## PROJECT::SPECIFIC
testbed
surveys/fixtures/*.yml
.rvmrc
.sass-cache/**/*.sassc
