.surveyor_menu
  = t('surveyor.sections')
  %ul
    - @sections.each do |s|
      %li{:class => ("active" if s == @section)}= submit_tag(truncate(s.title, :length => 25), :name => "section[#{s.id}]")
.clear
