#surveyor
  #header
    .title= t ('surveyor.take_these_surveys')
  %br
  #survey_list
    %ul
      - unless @surveys.empty?
        - @surveys.each do |survey|
          %li
            - form_tag(take_survey_path(:survey_code => survey.access_code)) do 
              = survey.title
              &nbsp;
              = submit_tag( t ('surveyor.take_it') )
      - else
        %li
          No surveys
