- fields_for_response(response_obj) do |response_form|
  = response_form.survey_check_box(:selected)
  = response_form.label(:answer_id, answer.text)
  = response_form.text_field(:string_value, :size => 25, :maxlength => 250)