- fields_for_response(response_obj) do |response_form|
  = response_form.survey_check_box(:selected)
  %label Other
  = response_form.text_field(:other_value)
  = response_form.text_field(:string_value)