- hide_label ||= false
- fields_for_response(response_obj) do |response_form|
  = response_form.label(:string_value, answer_text_prefix_helper(answer.text)) unless hide_label
  = response_form.text_field(:string_value, :size => 25, :maxlength => 250, :autocomplete => "off")
  = response_form.label(:string_value, answer_text_postfix_helper(answer.text)) unless hide_label
  
  