<h1>Listing Surveys</h1>

<table class="list_table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Operation</th>
  </tr>

<% @surveys.each do |survey| -%>
  <tr>
    <td><%=h survey.id %></td>
    <td><%=h survey.title %></td>
    <td><%= link_to "show results list(#{survey.response_sets.count})", result_path(survey.access_code) %></td>
  </tr>
<% end %>
</table>
